@import "tailwindcss";

@theme {
  --color-font-primary: #24403e;
  --color-btn-green: #6ea9a5;
}

@plugin "daisyui";
#root {
  @apply grid grid-cols-12 min-h-screen gap-4;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.backdrop {
  background: #6ea9a5;
  background: linear-gradient(
    180deg,
    rgba(110, 169, 165, 1) 0%,
    rgba(255, 255, 255, 1) 75%
  );
  height: 900px;
  z-index: 1;
  opacity: 0.5;
}
